/*Adrián Gutiérrez García, UO300627*/
/*Estilos generales del proyecto MotoGP-Desktop*/
/*Si hay alguna advertencia con herencia correcta, poner un comentario
tipo:advertencia por herencia de color de fondo de body #color*/
/*Tabien advertencia provocada por la media query*/

/*especifidad del selector: (0,0,1)*/
/*El color se hereda a los títulos h2...h6, p ...*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4ebd0;
    color: #000000;
}

/*especifidad del selector: (0,0,1)*/
header{
    background-color: #f2d7a5;
    /*Advertencia por herencia del color del body #f4edb0*/
}

/*especifidad del selector:(0,0,2)*/
header a{
    text-decoration-line: none;
    color: #000000;
    /*Advertencia por herencia de color de fondo del header #f2d7a5*/
}

/*especifidad del selector:(0,1,0)*/
.active{
    font-weight: bold;
    
}

/*especifidad del selector:(0,1,2)*/
body > p:first-of-type{
    font-size: 0.75em;
}

/**especifidad del selector:(0,0,3)*/
body > p > a{
    text-decoration-line: none;
    color: #000000;
    /*Advertencia por herencia de color de fondo del body #f4edb0*/
     
}
