/*Adrián Gutiérrez García, UO300627*/
/*Estilos generales del proyecto MotoGP-Desktop*/

/*especifidad del selector: (0,0,1)*/
/*El color se hereda a los títulos h2...h6, p ...*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4ebd0;
    color: #000000;
}

/*especifidad del selector: (0,0,1)*/
header{
    background-color: #f2d7a5;
    /*Advertencia por herencia del color del body #000000. Controlada*/
}

/*especifidad del selector:(0,0,2)*/
header a{
    text-decoration-line: none;
    color: #000000;
    /*Advertencia por herencia de color de fondo del header #f2d7a5. Controlada*/
}

/*especifidad del selector:(0,1,0)*/
.active{
    font-weight: bold; 
}

/*especifidad del selector:(0,1,2)*/
body > p:first-of-type{
    font-size: 0.75em;
}

/**especifidad del selector:(0,0,3)*/
body > p > a{
    color: #000000;
    /*Advertencia por herencia de color de fondo del body #f4ebd0. Controlada*/  
}

/**especifidad del selector li a:visited:(0,1,2)*/
/**especifidad del selector p a:visited:(0,1,2)*/
li a:visited, p a:visited{ /*mirar si poner esto*/
    color:#00008B;
    /*Advertencias por herencia de color de fondo del body en los selectores li a:visited y p a:visited #f4ebd0. Controlada*/
}
