/*especifidad del selector:(0,0,1)*/
main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.75em;
}

/*especifidad del selector:(0,0,2)*/
main h2{
    grid-column: 1 / -1;
    text-align: center;
}

@media(min-width:320px) and (max-width:799px){
    /*especifidad del selector:(0,0,1)*/
    main{
        grid-template-columns: repeat(2,1fr);
        /*Advertencia por redefinicion de la propiedad grid-template-columns 
        del elemento main. Controlada*/
    }

}